@use "./utils";

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    // position: relative;
    position: sticky;
    top: 0;
    background-color: white;

    .logo {
        position: absolute;
        left: 3%;
        height: 100%;
    }

    .search {
        margin: 0 auto;
        display: flex;
        align-items: center;
        .input {
            height: 80%;
            width: 350px;   
            border: 1px solid #ccc;
            border-radius: 4px;     
        }
    
        .button {
            height: 80%;
            margin-left: 5px;
            background-color: #034e9f; 
            color: white;            
            border: none;            
            border-radius: 4px;     
            cursor: pointer;         
        }
    }
    
}

.header {
    // Header 스타일 작성
    @include utils.mobile {
        height: 40px;
    }

    .logo {
        @include utils.mobile {
            left: 2%;
        }
    }

    .search {
        @include utils.mobile {
            margin-left: 65px;
        }
        .input {
            @include utils.mobile {
                width: 205px;   
                border: 1px solid #ccc;
                border-radius: 4px;     
            }
        }

    }
}